course_outline.aux
course_outline.log
course_outline.out
course_outline.pdf
course_schedule.log
course_schedule.pdf
in-class-list.pdf
in-class-list.log
slos.pdf
faq.html
faq.log
faq.tex
slos.html
slos.log
readings.log
in-class-list.Rmd
